*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#form{
    display: flex;
    width: 100%;
    background-color: cornflowerblue;
}
#form-validation{
    justify-content: center;
    margin: auto;
    width: 50%;
}